#typing-extensions==3.7.4 # tensorflow==2.6.0
#future
#hiddenlayer
torch
torchvision
tensorboardX
torchfile
torchsummary
protobuf
batchgenerators

numpy
h5py
scipy
scikit-image
scikit-learn

Pillow
imageio~=2.15.0
tifffile
pydicom
nipype
medpy
nibabel
SimpleITK
dicom2nifti
opencv-python
open3d-python

moviepy
graphviz
pygraphviz

visdom
matplotlib

urllib3
dominate

yacs
PyYAML

six
tqdm
zipp
wheel
pandas
argparse
dataclasses
threadpoolctl